@use "@/styles/rem";

.modal {
  .user {
    display: flex;
    align-items: center;
    margin-top: rem.px2flexible(20);
    gap: rem.px2flexible(20);
  }
}

@media (max-width: 913px) {
  .modal {
    .user {
      flex-direction: column;

      .formItem {
        width: 100%;
      }
    }
  }
}