@use "@/styles/rem";

.wrap {
  position: relative;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  .border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }


}