@use "@/styles/rem";

.container {
  border-top: rem.px2flexible(1) solid #000;
  border-right: rem.px2flexible(2) solid #000;
  border-bottom: rem.px2flexible(2) solid #000;
  border-left: rem.px2flexible(1) solid #000;
  background: var(--border-100, #E7E7E7);
  padding: rem.px2flexible(10);
  margin-top: rem.px2flexible(20);

  .header {
    font-size: rem.px2flexible(10);
    font-weight: 500;
    margin-bottom: rem.px2flexible(7);
  }

  .tabs {
    display: flex;
    margin-left: rem.px2flexible(1);
    > span {
      display: flex;
      align-items: center;
      height: rem.px2flexible(24);
      border: rem.px2flexible(1) solid var(--black, #000);
      border-bottom: none;
      background: var(--white, #FFF);
      padding: 0 rem.px2flexible(19);
      font-size: rem.px2flexible(9);
      cursor: pointer;
      margin-left: rem.px2flexible(-1);

      &.active {
        background: var(--primary-color);
        color: #FFFFFF;
        font-weight: 500;
      }
    }
  }

  .content {
    border: rem.px2flexible(1) solid #000;
    background: #FFF;
    padding: rem.px2flexible(10);
  }
}