@use "@/styles/rem";

.chainWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: min(18px, rem.px2flexible(9.5));
}

.wrap {
  padding: 0 60px;

  $shadow: rem.px2flexible(1.5);

  &:has(>.twice) {
    padding: 0;
  }

  .block {
    width: min(122px, #{rem.px2flexible(64)});
    aspect-ratio: 1 / 1;
    background: #000;
    box-shadow: $shadow $shadow 0 0 #000;
    transition: all .2s;
    position: relative;

    .gif {
      position: relative;
    }

    .bgImage {
      position: absolute;
      top: 0;
      max-height: 100%;
    }

    &.half {
      width: rem.px2flexible(34);
    }

    &.twice {
      width: min(220px, #{rem.px2flexible(130)});
    }
  }
}

@media screen and (max-width: 1023px){
  .chainWrap {
    flex-direction: row;
    height: 100%;
  }
  .wrap {
    //padding: min(100px, rem.px2flexible(70)) 0 min(60px, rem.px2flexible(50));
    padding: rem.px2flexible(50) 0 rem.px2flexible(30);
    transform: translateY(-6%)
  }
}