@use "@/styles/rem";

.wrap {
  max-width: 1100px;
  width: var(--center-content-width);
  border: rem.px2flexible(1) solid #000;
  background: #EAEAEA;
  box-shadow: rem.px2flexible(2) rem.px2flexible(2) 0 0 #000;
  font-family: var(--font-CLFN);

  .header {
    font-size: rem.px2flexible(12);
    font-weight: 500;
    padding: rem.px2flexible(10) rem.px2flexible(18);
    border-bottom: rem.px2flexible(1) solid #000;
    line-height: 1;
  }

  .content {
    padding-top: rem.px2flexible(15);
    padding-inline: rem.px2flexible(18);
    padding-bottom: rem.px2flexible(20);

    .footer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: rem.px2flexible(20);
      margin-top: rem.px2flexible(20);

      .button {
        width: rem.px2flexible(80);
        height: rem.px2flexible(25);
        font-size: rem.px2flexible(9);
      }
    }
  }
}

.formItem {
  .label {
    font-size: rem.px2flexible(10);
    font-weight: 500;
    line-height: 150%;
    margin-bottom: var(--form-label-mb, #{rem.px2flexible(2.5)});
    margin-left: rem.px2flexible(1.5);
  }

  & + .formItem {
    margin-top: var(--bw-item-mt, #{rem.px2flexible(20)});
  }
}