@use "@/styles/rem";

.floor {
  margin-top: rem.px2flexible(10);
  position: relative;
  display: flex;
  align-items: end;
  justify-content: space-between;

  .mainPostRight {
    font-size: rem.px2flexible(6);
    color: #6C6C6C;
    display: flex;
    align-items: center;
  }

  .rightPart {
    font-size: rem.px2flexible(6);
    color: #6C6C6C;
    .item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: rem.px2flexible(5);

      &:first-child {
        margin-bottom: rem.px2flexible(5);
      }
    }
  }

  .reply, .edit {
    cursor: pointer;
    color: black;
    flex-shrink: 0;
    &:hover {
      color: var(--primary-color);
    }
  }

  .opt, .reply:has(+ .edit) {
    margin-right: rem.px2flexible(8);
  }
}