@use "@/styles/rem";

.floor {
  margin-top: rem.px2flexible(10);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .rightPart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: rem.px2flexible(6);
    color: #6C6C6C;
    gap: rem.px2flexible(5);
  }

  .otherPost {
    .item {
      display: flex;
      align-items: center;
      gap: rem.px2flexible(5);
    }
  }

  .reply {
    cursor: pointer;
    color: black;
    flex-shrink: 0;
    &:hover {
      color: var(--primary-color);
    }
  }

  .opt, .reply {
    margin-right: rem.px2flexible(8);
  }
}

@media screen and (max-width: 1023px) {
  .floor {
    align-items: end;
    .otherPost {
      flex-direction: column-reverse;
      align-items: normal;

      .item {
        justify-content: flex-end;

        &:first-child {
          margin-top: rem.px2flexible(5);
        }
      }
    }

    .reply {
      margin-right: 0;
    }
  }
}