@use "@/styles/rem";

.wrap {
  margin: rem.px2flexible(15) auto 80px;

  .content {
    margin-top: rem.px2flexible(20);
    border-top: rem.px2flexible(1) solid #000;
    border-right: rem.px2flexible(2) solid #000;
    border-bottom: rem.px2flexible(2) solid #000;
    border-left: rem.px2flexible(1) solid #000;
    background: #EAEAEA;
    padding: rem.px2flexible(10);

    .tabsContent {
      min-height: rem.px2flexible(200);
    }

    .gap {
      height: rem.px2flexible(20);
    }
  }
}

@media screen and (max-width: 1024px) {
  .wrap {
    .tabsWrap {
      .tabs {
        > p {
          padding-inline: rem.px2flexible(10);
        }
      }
    }
  }
}