@use '@/styles/rem';

.button {
  user-select: none;
  font-family: var(--font-CLFN);
  position: relative;
  cursor: pointer;

  .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    left: rem.px2flexible(1.5);
    top: rem.px2flexible(1.5);
    background: #000;
  }

  .inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: rem.px2flexible(1) solid #000;
    position: relative;
    background: #FFFFFF;
  }

  &:hover .inner {
    color: var(--primary-color);
  }

  &:active .inner {
    border-width: 1px !important;
    color: var(--primary-color);
    box-shadow: 0 0 rem.px2flexible(3) rem.px2flexible(1) #6C6C6C inset;
    top: rem.px2flexible(1.5);
    left: rem.px2flexible(1.5);
  }

  &.primary {
    color: #FFFFFF;
    .inner {
      background: var(--primary-color);
    }
    &:hover .inner {
      color: #FFFFFF;
      background: var(--primary-color-hover);
    }

    &:active .inner {
      background: var(--primary-color-hover);
      box-shadow: 0 0 rem.px2flexible(3) rem.px2flexible(1) rgba(0, 0, 0, 0.40) inset;
    }
  }

  @mixin btn-disabled {
    border: rem.px2flexible(1) solid var(--btn-disabled-border, #6C6C6C) !important;
    background: var(--btn-disabled-bg, #B7B7B7);
    box-shadow: rem.px2flexible(1.5) rem.px2flexible(1.5) 0 0 var(--id-600, #6C6C6C);
    color: #878787;
  }

  &.disabled {
    .inner {
      @include btn-disabled;
    }
    cursor: not-allowed;

    &:hover,
    &:active {
      .inner {
        @include btn-disabled;
        top: 0;
        left: 0
      }
    }
  }
}