@use '@/styles/rem';

.wrap {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: var(--font-CLFN);
  user-select: none;

  &:hover:not(&.disabled) {
    color: var(--primary-color);
    background: #F3F3F3;
  }

  &.active,
  &:active:not(&.disabled) {
    color: var(--primary-color);
    background: var(--white, #FFF);
    box-shadow: 0 0 rem.px2flexible(3) rem.px2flexible(1) var(--200, #CFCFCF) inset;
  }

  &.disabled {
    color: #878787;
    cursor: not-allowed;
    > * {
      color: #878787;
    }
  }
}