@use '@/styles/rem';

.wrap {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-family: var(--font-CLFN);
  user-select: none;

  &:hover:not(&.disabled) {
    color: var(--primary-color);
  }

  &.active {
    color: var(--primary-color);
  }

  &.disabled {
    color: #878787;
    cursor: not-allowed;
    > * {
      color: #878787;
    }
  }
}