@use "@/styles/rem";

.editor {
  border-top: rem.px2flexible(1.5) solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  border-left: rem.px2flexible(1.5) solid #000;
  background: var(--white, #FFF);
  height: rem.px2flexible(215);

  &:focus-within {
    border-color: var(--primary-color);
  }
}