@use '@/styles/rem';
@use '@/styles/thin-border';
@use 'sass:math';

$bg: #EAEAEA;

.container {
  border-top: rem.px2flexible(1) solid;
  border-left: rem.px2flexible(1) solid;
  border-right: rem.px2flexible(2) solid;
  border-bottom: rem.px2flexible(2) solid;
  background: $bg;

  //@include thin-border.border(rem.px2rem(0.5), rem.px2rem(1.74));

  .header {
    padding-block: var(--card-window-header-padding-block, #{rem.px2flexible(5)});
    padding-inline: var(--card-window-header-padding-inline, #{rem.px2flexible(10)});
    display: flex;
    align-items: center;
    //height: rem.px2flexible(20);
    position: relative;
    //@include thin-border.singleBorder(rem.px2rem(0.5), bottom);
    border-bottom: rem.px2flexible(1) solid;

    .line {
      width: 100%;
      border-bottom: rem.px2flexible(1) solid;

      & + .line {
        margin-top: var(--card-window-line-gap, #{rem.px2flexible(2)});
      }
    }

    .title {
      $fontSize: var(--card-window-title-size, rem.px2flexible(12));

      font-family: var(--font-CLFN);
      font-size: $fontSize;
      padding: 0 var(--card-window-title-padding-inline, #{rem.px2flexible(10)});
      background: $bg;
      position: absolute;
      left: 50%;
      //top: rem.px2flexible(3);
      //top: 50%;
      transform: translateX(-50%);
      letter-spacing: var(--card-window-title-letter-spacing, calc($fontSize * 0.13));
      height: 100%;
      display: flex;
      align-items: center;
    }

    .close {
      position: absolute;
      background: $bg;
      display: flex;
      align-items: center;
      justify-content: center;
      right: rem.px2flexible(8);
      cursor: pointer;
      padding-left: rem.px2flexible(8);
      color: #050505;

      &:hover {
        color: var(--primary-color);

        > svg path:first-child {
          stroke: var(--primary-color);
        }
      }

      .image {
        width: var(--card-window-close, rem.px2flexible(15));
        height: var(--card-window-close, rem.px2flexible(14));
        background: $bg;
      }
    }
  }

  .content {
    margin: var(--card-window-content-margin, #{rem.px2flexible(10)});
    border: rem.px2flexible(1) solid;
    background: #FFF;

    //.inner {
    //  padding: rem.px2flexible(0.5);
    //  @include thin-border.border(rem.px2rem(0.5), rem.px2rem(0.872));
    //}
  }
}