@use '@/styles/rem';

.wrap {
  font-family: var(--font-CLFN);

  .header {
    --card-window-title-letter-spacing: normal;
  }
}

.content {
  padding-top: rem.px2flexible(14);

  .marquee {
    font-size: rem.px2flexible(7);
    line-height: 1.14;
    color: #524F4F;

    > span {
      color: var(--primary-color);
    }
  }

  .cardContent {
    margin: rem.px2flexible(14) 0 rem.px2flexible(10) rem.px2flexible(10);
    display: flex;
    overflow-x: auto;

    &.moreCard {
      margin-bottom: rem.px2flexible(10);
      padding-bottom: rem.px2flexible(10);
    }
  }
}

.cardItem {
  flex: 1;
  border: rem.px2flexible(1) solid #000;
  background: #FFF;
  box-shadow: rem.px2flexible(1.5) rem.px2flexible(1.5) rem.px2flexible(3) 0 #DBDBDB inset;
  padding: rem.px2flexible(12) rem.px2flexible(10) rem.px2flexible(10) rem.px2flexible(10);
  min-width: rem.px2flexible(180);
  cursor: pointer;
  margin-right: rem.px2flexible(10);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);

    .info {
      color: var(--primary-color);

      --avatar-outer-color: var(--primary-color);
    }
  }

  .title {
    font-size: rem.px2flexible(9);
    font-weight: 500;
    margin-bottom: rem.px2flexible(8);
    word-break: break-all;
    display: -webkit-box;          /* 使用弹性伸缩盒子模型 */
    -webkit-box-orient: vertical;  /* 垂直排列子元素 */
    -webkit-line-clamp: 3;         /* 限制显示的行数 */
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .info {
    font-size: rem.px2flexible(6);
    color: #6C6C6C;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .avatar {
      width: rem.px2flexible(7);
      height: rem.px2flexible(7);
      font-size: rem.px2flexible(4);
    }
  }
}