@use "@/styles/rem";

.wrap {
  font-size: min(18px, #{rem.px2flexible(12)});
  font-family: var(--font-CLFN);
  display: flex;
  align-items: center;
  gap: min(10px, #{rem.px2flexible(6)});

  .breadWrap {
    display: flex;
    align-items: center;
    gap: min(10px, #{rem.px2flexible(6)});
  }

  .bread {
    display: flex;
    align-items: center;
    gap: min(6px, #{rem.px2flexible(4)});
    color: #6C6C6C;

    &.active {
      color: var(--primary-color);
    }
  }

  .arrow, .icon {
    width: min(18px, #{rem.px2flexible(12)});
  }
}