@use "@/styles/rem";

.wrap {
  width: 100%;
  min-height: rem.px2flexible(200);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 88px 30px;
  position: relative;

  .bgWrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

  .gif {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .bgImage {
    position: absolute;
    top: 0;
    width: 100%;
    height: 102%;
  }

  .card {
    width: 100%;
    height: rem.px2flexible(105);
    border: rem.px2flexible(1) solid;
    background: rgba(255, 255, 255, 0.90);
    padding: rem.px2flexible(3.5);
    position: relative;

    .title {
      position: absolute;
      right: rem.px2flexible(7);
      top: rem.px2flexible(3);
      font-family: var(--font-arcade);
      font-size: rem.px2flexible(8);
    }

    .inner {
      height: 100%;
      background-image: url("/assets/login/complete-card-bg.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      font-family: var(--font-CLFN);

      .top {
        padding-top: rem.px2flexible(5.5);
        padding-left: rem.px2flexible(5.5);
        font-size: rem.px2flexible(6);
        display: flex;
        align-items: center;
        gap: rem.px2flexible(5);
        text-transform: capitalize;
      }

      .name {
        margin-top: rem.px2flexible(12.5);
        font-size: rem.px2flexible(16);
        font-weight: 500;
        text-align: center;
        margin-bottom: rem.px2flexible(9);
      }
      .did {
        font-size: rem.px2flexible(9);
        padding: 0 rem.px2flexible(12.5);
        word-break: break-word;
        text-align: center;

        .icon {
          flex-shrink: 0;
          display: inline-block;
          margin-left: 10px;
          cursor: pointer;
          width: rem.px2flexible(8);
        }
      }
    }
  }
}

.colon {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;

  span {
    width: 2px;
    height: 2px;
    background: #363636;
  }
}

@media screen and (max-width: 1023px) {
  .gif, .bgImage {
    height: auto !important;
  }
}