@use "@/styles/rem";

.text {
  font-size: rem.px2flexible(6);
  color: #999631;
  cursor: pointer;
}

.modal {
  width: rem.px2flexible(352);
  box-shadow: rem.px2flexible(1.5) rem.px2flexible(1.5) 0 0 #000;
  border: rem.px2flexible(1) solid;

  --card-window-title-letter-spacing: normal;
  --card-window-header-padding-block: #{rem.px2flexible(4)};
  --close-right: #{rem.px2flexible(9)};
  --close-padding-left: #{rem.px2flexible(9)};

  .container {
    padding: 0 rem.px2flexible(10);
    font-family: var(--font-CLFN);

    .userInfo {
      display: flex;
      align-items: center;
      margin: rem.px2flexible(19) 0 rem.px2flexible(19) rem.px2flexible(11);

      .avatar {
        width: rem.px2flexible(34);
        height: rem.px2flexible(34);
        margin-right: rem.px2flexible(10);
        font-size: rem.px2flexible(12);
      }

      .name {
        font-size: rem.px2flexible(12);
        font-weight: 500;
        text-transform: capitalize;
      }

      .address {
        font-size: rem.px2flexible(10);
        color: #6C6C6C;
        display: flex;
        align-items: center;
        gap: rem.px2flexible(4);
      }
    }

    .content {
      background: #F5F5F5;
      padding: rem.px2flexible(12);

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title {
          font-size: rem.px2flexible(10);
          font-weight: 500;
          line-height: 1.8;
        }

        .balance {
          font-size: rem.px2flexible(9);
          color: #6C6C6C;
        }
      }

      .inputWrap {
        max-width: none;
        height: rem.px2flexible(30);
        margin-top: rem.px2flexible(12);
        margin-bottom: rem.px2flexible(8);

        --input-default-border-color: #B7B7B7;
        --input-default-shadow-color: #B7B7B7;
      }

      .error {
        color: #CE0D36;
        font-size: rem.px2flexible(9);
        display: flex;
        align-items: center;
        margin-top: rem.px2flexible(8);
        gap: rem.px2flexible(4);

        .icon {
          width: rem.px2flexible(8);
          height: rem.px2flexible(8);
        }
      }
    }
  }
}

.ckbButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  span {
    width: rem.px2flexible(66);
    height: rem.px2flexible(21);
    border: 1px solid #B7B7B7;
    font-size: rem.px2flexible(9);
    font-weight: 500;
    text-align: center;
    line-height: rem.px2flexible(20);
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
}

.message {
  display: flex;
  align-items: center;
  margin-top: rem.px2flexible(12);
  color: #6C6C6C;
  font-size: rem.px2flexible(9);
  gap: rem.px2flexible(4);

  .icon {
    width: rem.px2flexible(8);
    height: rem.px2flexible(8);
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: rem.px2flexible(25) rem.px2flexible(13) rem.px2flexible(25) 0;

  .cancel {
    width: rem.px2flexible(46);
    height: rem.px2flexible(25);
    margin-right: rem.px2flexible(23);
    font-size: rem.px2flexible(8);
  }

  .submit {
    width: rem.px2flexible(62);
    height: rem.px2flexible(25);
    font-size: rem.px2flexible(8);
  }
}