@use "@/styles/rem";

.wrap {
  display: flex;

  .des {
    font-size: rem.px2flexible(8);
    line-height: 2;
  }
}

.sectionImage {
  max-width: 150px;
  //width: 100%;
  aspect-ratio: 1;
  background: var(--section-image, url("/assets/section-iconx2.png")) no-repeat;
  background-size: contain;
  flex-shrink: 0;
  margin-right: rem.px2flexible(10);
}

.content {
  padding-top: rem.px2flexible(5);

  @media screen and (max-width: 1024px) {
    .statis {
      flex-direction: column;
      align-items: start !important;
      gap: rem.px2flexible(5) !important;
      margin-bottom: rem.px2flexible(4) !important;
    }
  }


  .title {
    font-size: rem.px2flexible(12);
    font-weight: 500;
    line-height: 1;
    margin-bottom: rem.px2flexible(5);
  }

  .statis {
    display: flex;
    align-items: center;
    gap: rem.px2flexible(10);
    font-size: rem.px2flexible(6);
    color: #6C6C6C;
    margin-bottom: 19px;
  }
}

.expand, .packUp {
  display: inline-flex;
  align-items: center;
  font-size: rem.px2flexible(8);
  cursor: pointer;
  font-weight: 500;
  gap: rem.px2flexible(3);
  color: #000;

  .icon {
    width: rem.px2flexible(8);
    height: rem.px2flexible(8);
  }
}

.packUp {
  color: var(--primary-color);
  svg {
    transform: rotate(180deg);
  }
}