.container {
  padding: 0 172px;
  margin: 30px auto 80px;
  font-family: var(--font-CLFN);

  .inner {
    width: 1094px;
  }

  .window {
    --card-window-line-gap: 2px;
  }
}

.breadCrumb {
  padding: 0 10px;
  position: absolute;
  left: 40px;
  height: 100%;
  background: #EAEAEA;
}

.comment {
  width: 40px;
  height: 40px;
  margin-bottom: 8px;
  box-shadow: 2px 2px 0 0 #000 !important;
}