@use "@/styles/rem";

.wrap {
  display: flex;
  align-items: center;
  gap: rem.px2flexible(5);
  width: 255px;

  .cardItem {
    cursor: default;
    --opacity: 0;

    &::before {
      opacity: var(--opacity);
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-image: url("/assets/login/card-loading.svg");
      background-size: rem.px2flexible(21) rem.px2flexible(12);
      background-repeat: no-repeat;
      background-position: right 1px bottom -1px;
    }
  }
}