@use "@/styles/rem";

.popup {
  position: absolute;
  display: none;
  align-items: center;
  border: 1px solid #000;
  box-shadow: rem.px2flexible(1.5) rem.px2flexible(1.5) 0 0 #000;
  padding: rem.px2flexible(8);
  gap: rem.px2flexible(8);
  font-size: rem.px2flexible(9);
  font-weight: 500;
  background: #fff;
  transform: translateY(calc(-100% - #{rem.px2flexible(4)}));
  z-index: 2;

  .item {
    display: flex;
    align-items: center;
    gap: rem.px2flexible(4);
    cursor: pointer;
    &:hover {
      color: var(--primary-color);
    }

    .icon {
      width: rem.px2flexible(8);
      height: rem.px2flexible(8);
    }

  }
}