.tips {
  display: none;
  width: 220px;
  padding: 10px;
  font-size: 14px;
  color: #FFFFFF;
  background: var(--primary-color);
  border: 2px solid #000;
  position: fixed;
  font-family: var(--font-CLFN);
  z-index: 10;
}