@use "@/styles/rem";

.tips {
  display: none;
  width: rem.px2flexible(110);
  padding: rem.px2flexible(10);
  font-size: rem.px2flexible(7);
  color: #FFFFFF;
  background: var(--primary-color);
  border: rem.px2flexible(1) solid #000;
  position: fixed;
  font-family: var(--font-CLFN);
  z-index: 10;
}