@use "@/styles/rem";

.wrap {
  background: rgba(243, 243, 243, 0.8);
  padding: rem.px2flexible(15) rem.px2flexible(12);

  .load {
    color: #6C6C6C;
    font-size: rem.px2flexible(6);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem.px2flexible(4);
    cursor: pointer;
    gap: rem.px2flexible(4);

    .arrow {
      width: rem.px2flexible(6);
      height: rem.px2flexible(3);
    }

    &:hover {
      color: var(--primary-color);
    }
  }

  .button {
    border-top: 2px solid var(--300, #B7B7B7);
    border-right: 1px solid var(--300, #B7B7B7);
    border-bottom: 1px solid var(--300, #B7B7B7);
    border-left: 2px solid var(--300, #B7B7B7);
    background: var(--white, #FFF);
    color: #CFCFCF;
    font-size: rem.px2flexible(7);
    width: 100%;
    height: rem.px2flexible(20);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem.px2flexible(10);
    cursor: pointer;

    &:hover {
      color: black;
      border-color: black;
    }
  }
}

.replyItem {
  position: relative;
  padding-bottom: rem.px2flexible(6);

  .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.75;
    background: #F3F3F3;
    z-index: 1;
  }

  .reason {
    font-size: rem.px2flexible(8);
    margin: rem.px2flexible(5) 0;
  }


  & + .replyItem {
    padding-top: rem.px2flexible(8);
    border-top: 1px dashed #D8D8D8;
  }
  .title {
    font-size: rem.px2flexible(8);
    line-height: 2;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    .left {
      display: flex;
      align-items: center;
    }

    .right {
      //display: flex;
      display: none;
      align-items: center;
      justify-content: flex-end;
      gap: rem.px2flexible(12);
      font-size: rem.px2flexible(6);
      flex: 1;

      .hideReply {
        gap: 0;
        margin-right: 0;
      }
    }

    .avatarWrap {
      padding: 0 rem.px2flexible(3);
      margin-right: rem.px2flexible(1);

      .avatar {
        width: rem.px2flexible(11);
        height: rem.px2flexible(11);
        font-size: rem.px2flexible(5);
      }
    }

    .time {
      color: #9F9F9F;
      font-size: rem.px2flexible(6);
      margin-left: rem.px2flexible(4);
    }
  }

  .contentWrap {
    margin-left: rem.px2flexible(17);
  }
  .htmlContent {
    margin: rem.px2flexible(4) 0;
    max-height: rem.px2flexible(69);
    overflow: hidden;
  }
  .showDetail {
    font-size: rem.px2flexible(6);
    font-weight: 500;
    cursor: pointer;
    text-align: right;
    margin-bottom: rem.px2flexible(18);
    margin-top: rem.px2flexible(-4);

    .packup {
      color: var(--primary-color);
    }

    &:hover {
      color: var(--primary-color);
    }

  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: rem.px2flexible(6);
    color: #6C6C6C;

    .leftOpts {
      display: flex;
      align-items: center;
      gap: rem.px2flexible(5);
      .icon {
        width: rem.px2flexible(7);
        height: rem.px2flexible(7);
      }
    }

    .rightOpts {
      display: flex;
      align-items: center;
      gap: rem.px2flexible(10);
    }

    .reply {
      color: black;
      cursor: pointer;
      &:hover {
        color: var(--primary-color);
      }
    }
  }

  .donate {
    color: #999631;
    cursor: pointer;
  }
}

@media screen and (max-width: 1023px) {
  .replyItem {
    .title {
      .right {
        display: flex;
      }
    }

    .footer {
      .donate {
        display: none;
      }
      .hideReply {
        display: none;
      }
    }
  }
}