.wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  .flyCard {
    position: absolute;
    right: -35.5px;
    transform: translateX(100%) translateY(-17px);
  }
}