@use "@/styles/rem";

.wrap {
  //position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  .flyCard {
    position: absolute;
    transform: translateX(rem.px2flexible(15));
  }
}