@use "@/styles/rem";

.wrap {
  display: flex;
  align-items: center;
  color: black;
  font-size: rem.px2flexible(6);

  &:hover {
    color: var(--primary-color);
  }

  .icon {
    width: rem.px2flexible(8);
    height: rem.px2flexible(8);
  }
}