@use "@/styles/rem";

.wrap {
  background: #F5F5F5;

  .header {
    color: #9F9F9F;
    font-size: rem.px2flexible(5);
    background: #E7E7E7;
  }

  .table {
    width: 100%;
    position: relative;

    .ckb {
      color: var(--primary-color);
      font-weight: 500;
    }

    .time {
      display: flex;
      gap: rem.px2flexible(4);
      align-items: baseline;
      justify-content: flex-end;
      .icon {
        width: rem.px2flexible(5);
        height: rem.px2flexible(5);
        color: #666;
        cursor: pointer;

        &:hover {
          color: var(--primary-color);
        }
      }
    }

    tr {
      th, td {
        text-align: left;
        padding-inline: rem.px2flexible(3);
        font-weight: normal;

        &:first-child {
          padding-left: rem.px2flexible(12);
        }

        &:last-child {
          text-align: right;
          padding-right: rem.px2flexible(12);
        }
      }
    }

    thead tr th {
      padding-block: rem.px2flexible(6);
    }

    tbody tr td {
      padding-block: rem.px2flexible(10);
      font-size: rem.px2flexible(6);
      color: #6C6C6C;
    }

    tbody {
      tr {
        position: relative;
        & + tr {
          &::after {
            position: absolute;
            content: '';
            display: block;
            left: 0;
            right: 0;
            height: 1px;
            border-bottom: 1px dashed #DBDBDB;
            margin: 0 rem.px2flexible(12);
          }
        }
      }
    }
  }

  .userInfo {
    display: flex;
    align-items: center;
    gap: rem.px2flexible(4);

    .info {
      .name {
        color: black;
        text-transform: capitalize;
        line-height: rem.px2flexible(6);
        margin-bottom: rem.px2flexible(2);
        font-weight: 500;
      }

      .address {
        display: flex;
        align-items: center;
        gap: rem.px2flexible(3);

        .copy {
          width: rem.px2flexible(6);
          height: rem.px2flexible(4);
        }
      }
    }
  }

  .avatar {
    width: rem.px2flexible(14);
    height: rem.px2flexible(14);
  }
}