@use '@/styles/rem';

.feed {
  padding: var(--feed-padding, #{rem.px2flexible(10)});
  cursor: pointer;
  position: relative;

  & + .feed {
    &::before {
      content: '';
      display: block;
      height: 1px;
      border-bottom: 1px dashed #F3F3F3;
      position: absolute;
      left: rem.px2flexible(10);
      right: rem.px2flexible(10);
      top: 0;
    }
  }

  &.disabled {
    cursor: not-allowed;

    &:hover {
      background: #F3F3F3;
    }

    .header, .feedInfo {
      color: #B7B7B7;
    }
  }

  &:not(.disabled):hover {
    background: #F3F3F3;

    --hover-text-color: var(--primary-color);
    --avatar-outer-color: var(--primary-color);
    --post-statistic-font-color: var(--primary-color);

     > * {
      color: var(--primary-color);
    }

    .header .opts {
      display: block;
    }
  }

  .header {
    display: flex;
    align-items: center;
    font-size: min(18px, #{rem.px2flexible(10)});
    margin-bottom: rem.px2flexible(4);

    .top {
      width: rem.px2flexible(26);
      height: rem.px2flexible(9);
      margin-right: rem.px2flexible(3);
    }

    .title {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 500;
      flex: 1;
    }

    .opts {
      display: none;
    }
  }

  .feedInfo {
    overflow: hidden;
    color: var(--hover-text-color, #6C6C6C);

    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: min(14px, #{rem.px2flexible(8)});
    margin-bottom: rem.px2flexible(5);
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--hover-text-color, #6C6C6C);
    font-size: rem.px2flexible(6);

    .left {
      display: flex;
      align-items: center;
      gap: rem.px2flexible(10);

      .nickname {
        display: flex;
        align-items: center;
        gap: rem.px2flexible(4);
        text-transform: capitalize;
      }

      .avatar {
        width: rem.px2flexible(7);
        height: rem.px2flexible(7);
        font-size: rem.px2flexible(4);
        line-height: rem.px2flexible(7);
      }
    }

    .time {
      color: var(--hover-text-color, #6C6C6C);
      font-size: rem.px2flexible(6);
    }
  }
}

/* 移动端禁用 hover 效果 */
@media (hover: none) and (pointer: coarse) {
  .feed:hover .opts {
    display: none !important; /* 在移动端禁用 hover 显示 */
  }
}