@use "@/styles/rem";

.overlay {
  background: rgba(0, 0, 0, 0.20);
  display: grid;
  place-items: center;
}

.modal {
  border-top: rem.px2flexible(1) solid #000;
  border-right: rem.px2flexible(2) solid #000;
  border-bottom: rem.px2flexible(2) solid #000;
  border-left: rem.px2flexible(1) solid #000;
  background: #EAEAEA;
  padding: rem.px2flexible(9);
  font-family: var(--font-CLFN);
  outline: none;

  .inner {
    border: rem.px2flexible(1) solid #000;
    background: #FFF;
    box-shadow: rem.px2flexible(1.5) rem.px2flexible(1.5) rem.px2flexible(3) 0 #DBDBDB inset;
  }
}