@use "@/styles/rem";

@use "@/styles/tt-variables";
@use "rc-pagination/assets";
@use "@/styles/scroll-bar";

@use "tailwindcss";

html {
  @include scroll-bar.global-scroll;

  letter-spacing: 0.05rem;
}

:root {
  --primary-color: #319999;
  --primary-color-hover: #1D5C5C;
  --danger-color: #CB2C3C;
  --fixed-header-bg: #EAEAEA;


  --background: #F1ECE3;
  --foreground: #000;
}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  min-width: fit-content;
  display: flex;
  flex-direction: column;

  background: var(--background);
  color: var(--foreground);
}

p {
  margin: 0;
}
