@use "@/styles/rem";

.wrap {
  padding-top: min(30px, #{rem.px2flexible(22)});
  padding-bottom: min(40px, #{rem.px2flexible(30)});

  .inner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-CLFN);

    .avatar {
      width: rem.px2flexible(60);
      height: rem.px2flexible(60);
      margin-bottom: 20px;
    }

    .title {
      font-size: min(18px, #{rem.px2flexible(12)});
      margin-bottom: rem.px2flexible(9);
    }

    .mesItem {
      display: flex;
      align-items: center;
      gap: rem.px2flexible(4);
      font-size: min(18px, #{rem.px2flexible(12)});

      .check {
        width: min(18px, #{rem.px2flexible(14)});
        aspect-ratio: 1;
      }
    }

    .footer {
      margin-top: 50px;
      display: flex;
      align-items: center;
      gap: rem.px2flexible(20);
    }

    .button {
      width: min(150px, #{rem.px2flexible(120)});
      height: min(50px, #{rem.px2flexible(33)});
      font-size: min(18px, #{rem.px2flexible(12)});
    }
  }
}

.popup {
  position: absolute;
  margin-top: rem.px2flexible(4);
  min-width: rem.px2flexible(118);
  padding: rem.px2flexible(9);
  border: 1px solid var(--text-hover-800, #363636);
  background: var(--white, #FFF);
  box-shadow: rem.px2flexible(1.5) rem.px2flexible(1.5) 0 0 #000;

  height: rem.px2flexible(71);
  overflow: hidden;
  transition: all .15s;
  z-index: 99;

  &.close {
    height: 0;
    box-shadow: none;
    padding-block: 0;
    border: none;
  }

  .menuItem {
    padding: rem.px2flexible(5) rem.px2flexible(6) rem.px2flexible(5) rem.px2flexible(4);
    font-size: rem.px2flexible(8);
    cursor: pointer;
    white-space: nowrap;

    & + .menuItem {
      margin-top: rem.px2flexible(9);
    }

    &:hover {
      background: #F3F3F3;
      color: var(--primary-color);
    }
  }
}