@use "@/styles/rem";

.wrap {
  padding-top: min(30px, #{rem.px2flexible(22)});
  padding-bottom: min(40px, #{rem.px2flexible(30)});

  .inner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-CLFN);

    .avatar {
      width: rem.px2flexible(60);
      height: rem.px2flexible(60);
      margin-bottom: 20px;
    }

    .title {
      font-size: min(18px, #{rem.px2flexible(12)});
      margin-bottom: rem.px2flexible(9);
    }

    .mesItem {
      display: flex;
      align-items: center;
      gap: rem.px2flexible(4);
      font-size: min(18px, #{rem.px2flexible(12)});

      .check {
        width: min(18px, #{rem.px2flexible(14)});
        aspect-ratio: 1;
      }
    }

    .button {
      margin-top: 26px;
      width: min(156px, #{rem.px2flexible(120)});
      height: min(56px, #{rem.px2flexible(33)});
      font-size: min(16px, #{rem.px2flexible(12)});
    }
  }
}