.sticky {
  position: fixed;
  bottom: 100px;
  transition: height 0.2s ease-in-out;

  --button-move-dis-top: 2px;
  --button-move-dis-left: 2px;
  --button-box-shaow: 2px;

  .toTop {
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}