.content {
  background: #F6FCFC;
  position: relative;

  .bt,
  .br,
  .bb,
  .bl {
    position: absolute;
    background: #FFFFFF;
  }

  .bt,
  .bb {
    left: 0;
    width: 100%;
    height: 2px;
  }

  .br, .bl {
    top: 0;
    width: 2px;
    height: 100%;
  }

  .bt {
    top: -2px;
    background: var(--primary-color);
  }
  .br {
    right: -2px;
  }
  .bb { bottom: -2px }
  .bl { left: -2px; background: var(--primary-color) }
}