@use "@/styles/rem";
.content {
  background: #F6FCFC;
  position: relative;

  .bt,
  .br,
  .bb,
  .bl {
    position: absolute;
    background: #FFFFFF;
  }

  .bt,
  .bb {
    left: 0;
    width: 100%;
    height: rem.px2flexible(1);
  }

  .br, .bl {
    top: 0;
    width: rem.px2flexible(1);
    height: 100%;
  }

  .bt {
    top: rem.px2flexible(-1);
    background: var(--primary-color);
  }
  .br {
    right: rem.px2flexible(-1);
  }
  .bb { bottom: rem.px2flexible(-1) }
  .bl { left: rem.px2flexible(-1); background: var(--primary-color) }
}