@use '@/styles/rem';

.container {
  max-width: 863px;
  .inner {
    padding-top: min(28px, #{rem.px2flexible(18)});
    padding-bottom: min(25px, #{rem.px2flexible(14)});
    font-size: min(15px, #{rem.px2flexible(10)});
    font-family: var(--font-CLFN);

    .content {
      padding-inline: rem.px2flexible(19);
    }

    .buttonWrap {
      padding-left: rem.px2flexible(19);
    }

    .title {
      display: flex;
      align-items: center;
      margin-bottom: min(16px, #{rem.px2flexible(10)});

      .text {
        margin: 0 rem.px2flexible(3.75);

        &.user {
          font-weight: 500;
          color: var(--primary-color);
          text-transform: capitalize;
        }
      }

      .titleDivide {
        flex: 1;
      }
    }

    .divide {
      margin-top: min(16px, #{rem.px2flexible(10)});
      margin-bottom: min(23px, #{rem.px2flexible(15)});
    }
  }
}