@use '@/styles/rem';

.footer {
  display: flex;
  align-items: center;
  gap: rem.px2flexible(12);
  flex-wrap: wrap;
}

.button {
  height: rem.px2flexible(22.5);
  width: rem.px2flexible(94);
  font-size: rem.px2flexible(9);
}

.tourist {
  gap: rem.px2flexible(5.5);
  font-size: rem.px2flexible(9);
  height: rem.px2flexible(22.5);
  width: rem.px2flexible(79);
  user-select: none;

  .arrow {
    width: rem.px2flexible(7.5);
    aspect-ratio: 1;
    color: #000000;
  }

  &:hover, &:active {

    .arrow {
      color: var(--primary-color);
    }
  }
}