@use '@/styles/rem';

.container {
  .content {
    width: min(1060px, #{var(--center-content-width)});
    margin: rem.px2flexible(20) auto 0;
  }

  .mobileContent {
    width: auto;
    margin: rem.px2flexible(20) rem.px2flexible(36) 0;
  }

  .slogan {
    font-family: var(--font-arcade);
    //font-size: rem.px2flexible(36);
    font-size: min(56px, rem.px2flexible(36));
    color: var(--primary-color);
    line-height: 130%;
    text-shadow: rem.px2flexible(1.5) rem.px2flexible(1.5) 0px #000;
    -webkit-text-stroke-width: rem.px2flexible(0.5);
    -webkit-text-stroke-color: #000;
    margin-bottom: min(40px, #{ rem.px2flexible(23) });
  }

  .center {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;

    .fileWrap {
      display: flex;
      align-items: self-start;
      justify-content: start;
      flex-wrap: wrap;
      gap: min(50px, #{ rem.px2flexible(27) });
      width: rem.px2flexible(44);
      flex: none;

      @media screen and (max-width: 1134px) {
        flex: 1;
      }
    }

    .file {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: var(--font-CLFN);
      font-size: min(16px, #{rem.px2flexible(12)});
      cursor: pointer;
      width: rem.px2flexible(44);

      img {
        margin-bottom: min(15px, #{rem.px2flexible(9.7)});
      }
      .fileImg {
        width: min(51px, #{ rem.px2flexible(37.5) });
        height: min(55px, #{ rem.px2flexible(41.25) });
      }

      .storageImg {
        width: min(51px, #{ rem.px2flexible(37.5) });
        height: min(65px, #{ rem.px2flexible(48) });
      }

      .fileTitle {
        text-align: center;
      }
    }
  }

  .footer {
    $fontSize: min(20px, #{rem.px2flexible(14)});

    padding: rem.px2flexible(20) 0 10px 0;
    font-size: $fontSize;
    letter-spacing: calc($fontSize * .13);
    font-family: var(--font-CLFN);
    color: #333;
  }
}