@use "@/styles/rem";
.wrap {
  margin-top: rem.px2flexible(30);

  --input-default-border-color: #B7B7B7;
  --input-default-shadow-color: #B7B7B7;

  .input {
    max-width: 500px;
  }

  .loading {
    width: rem.px2flexible(14);
    height: rem.px2flexible(14);
  }

  label {
    display: block;
    font-size: min(28px, #{rem.px2flexible(16)});
    margin-bottom: min(30px, #{rem.px2flexible(23)});
    font-family: var(--font-CLFN);
    font-weight: 500;
  }

  .warning {
    position: absolute;
    display: flex;
    align-items: center;
    gap: rem.px2flexible(4);
    transform: translateY(rem.px2flexible(2));

    color: #CE0D36;
    font-size: min(16px, #{rem.px2flexible(10)});
    font-family: var(--font-CLFN);

    img {
      width: min(16px, #{rem.px2flexible(9)});
    }
  }

  .buttonWrap {
    display: flex;
    align-items: center;
    gap: min(30px, #{rem.px2flexible(24)});
    margin-top: min(70px, #{rem.px2flexible(45)});

    .button, .nextButton {
      width: rem.px2flexible(54);
      height: rem.px2flexible(25);
      font-size: min(16px, #{rem.px2flexible(12)});
    }

    .nextButton {
      width: rem.px2flexible(72);
    }
  }
}

@media screen and (min-width: 1024px){
  .wrap {
    .buttonWrap {
      margin-top: 74px;
    }
  }
}