.wrap {
  margin-top: 92px;

  label {
    display: block;
    font-size: 32px;
    margin-bottom: 14px;
    font-family: var(--font-CLFN);
    font-weight: 500;
  }

  .warning {
    position: absolute;
    bottom: -28px;
    display: flex;
    align-items: center;
    gap: 8px;

    color: #CE0D36;
    font-size: 16px;
    font-family: var(--font-CLFN);
  }

  .buttonWrap {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 96px;
    margin-bottom: 110px;

    .button {
      width: 108px;
      height: 50px;
      font-size: 16px;
    }
  }
}