@use "@/styles/rem";

.wrap {
  position: fixed;
  top: 1em;
  right: 0;
  z-index: 9999;
}

.toast {
  position: relative;

  border-top: rem.px2flexible(1) solid #000;
  border-right: rem.px2flexible(2) solid #000;
  border-bottom: rem.px2flexible(2) solid #000;
  border-left: rem.px2flexible(1) solid #000;
  background: #FFF;
  padding: rem.px2flexible(12);
  max-width: min(386px, #{rem.px2flexible(210)});
  margin-bottom: rem.px2flexible(5);
  .inner {
    display: flex;
    gap: rem.px2flexible(12);

    .statusIcon {
      width: rem.px2flexible(9);
      height: rem.px2flexible(9);
    }

    .info {
      font-family: var(--font-CLFN);
      flex: 1;

      .title {
        font-size: rem.px2flexible(9);
        line-height: 1;
        font-weight: 500;
        color: var(--primary-color);
      }

      .message {
        margin-top: rem.px2flexible(9);
        font-size: rem.px2flexible(7);
        line-height: 1;
        color: #363636;
        word-break: break-all;
      }
    }
  }
}