@use "@/styles/rem";

.container {
  display: flex;
  gap: rem.px2flexible(27);

  .left {
    flex: 1;
    margin-top: rem.px2flexible(5);
  }

  .right {

  }
}

.input {
  max-width: 100% !important;
  height: rem.px2flexible(30) !important;

  --input-shadow-num: #{rem.px2flexible(1)};
  --input-padding-left: #{rem.px2flexible(10)};
}

.desc {
  margin-top: rem.px2flexible(-9);

  .textarea {
    height: rem.px2flexible(138) !important;
  }
}

.formItem {
  .label {
    font-size: rem.px2flexible(10);
    font-weight: 500;
    line-height: 150%;
    margin-bottom: rem.px2flexible(2.5);
    margin-left: rem.px2flexible(1.5);
  }

  & + .formItem {
    margin-top: rem.px2flexible(20);
  }
}

.uploadWrap {
  .uploadAvatar {
    width: min(216px, #{rem.px2flexible(120)});
    height: min(216px, #{rem.px2flexible(120)});
    border-top: rem.px2flexible(1.5) solid #000;
    border-left: rem.px2flexible(1.5) solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;

    .loading {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 10px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .edit {
    font-size: min(14px, #{rem.px2flexible(10)});
    margin-top: rem.px2flexible(4);
    margin-bottom: rem.px2flexible(2);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem.px2flexible(2);

    &:hover {
      color: var(--primary-color);
    }

    .icon {
      width: rem.px2flexible(9);
      height: rem.px2flexible(9);
    }
  }

  .message {
    text-align: center;
    color: #9F9F9F;
    font-size: min(10px, #{rem.px2flexible(8)});
    letter-spacing: normal;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    gap: 0;

    .left {
      margin-top: 0;
    }
  }

  .desc {
    margin-top: rem.px2flexible(10);
  }

  .formItem {
    .label {
      margin-bottom: rem.px2flexible(10);
    }
    & + .formItem {
      margin-top: rem.px2flexible(10);
    }
  }

  .uploadWrap {
    display: flex;
    align-items: center;
    gap: rem.px2flexible(10);
    margin-bottom: rem.px2flexible(10);
    .uploadInfo {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: rem.px2flexible(5);
    }
  }
}

