@use "@/styles/rem";

.wrap {
  max-width: 1280px;
  width: var(--center-content-width);

  .container {
    min-height: rem.px2flexible(200);
    padding: rem.px2flexible(9);

    table {
      table-layout: fixed;

      tbody {
        tr:hover {
          .content {
            color: var(--primary-color);
          }
        }
      }
    }

    .info {
      .title {
        font-size: rem.px2flexible(9);
      }
      .content {
        color: #6C6C6C;
        font-size: rem.px2flexible(7);
      }
      .ellipsis {
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .options {
    display: flex;
    align-items: center;
    gap: rem.px2flexible(5);

    a {
      text-decoration: underline;
      cursor: pointer;
      white-space: nowrap;
    }
  }
}