@use "@/styles/rem";

.empty {
  display: flex;
  flex-direction: column;
  gap: rem.px2flexible(15);
  align-items: center;
  justify-content: center;
  height: rem.px2flexible(160);

  > img {
    width: rem.px2flexible(79);
    height: rem.px2flexible(27.5);
  }

  .emptyTip {
    font-size: rem.px2flexible(9);
    font-weight: 500;
  }

  .emptyButton {
    width: rem.px2flexible(50);
    height: rem.px2flexible(18);
    font-size: rem.px2flexible(7);
  }
}