.wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: var(--post-statistic-font-size, 12px);
  color: #6C6C6C;

  .item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}