@use "@/styles/rem";
@use "@/styles/scroll-bar";

.wrap {
  border-top: rem.px2flexible(1) solid #000;
  border-right: rem.px2flexible(2) solid #000;
  border-bottom: rem.px2flexible(2) solid #000;
  border-left: rem.px2flexible(1) solid #000;
  background: #EAEAEA;
  font-family: var(--font-CLFN);

  &.pc {
    padding: rem.px2flexible(10) rem.px2flexible(10) 0 rem.px2flexible(10);

    .card {
      margin-bottom: rem.px2flexible(10);
    }
  }

  &.mobile {
    padding: rem.px2flexible(10) 0 rem.px2flexible(10) rem.px2flexible(10);
    margin-top: rem.px2flexible(20);
    .sections {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;

      @include scroll-bar.component-x-scroll;

      &.moreCard {
        padding-bottom: rem.px2flexible(10);
      }
    }

    .card {
      flex: 1;
      margin-right: rem.px2flexible(10);
    }
  }

  .title {
    font-size: rem.px2flexible(10);
    line-height: 1;
    font-weight: 500;
    margin-bottom: rem.px2flexible(10);
  }

  .card {
    min-width: rem.px2flexible(122);
    border: rem.px2flexible(1) solid #000;
    background: #FFF;
    box-shadow: rem.px2flexible(1.5) rem.px2flexible(1.5) rem.px2flexible(3) 0 #DBDBDB inset;
    padding: rem.px2flexible(10);

    gap: rem.px2flexible(4);
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: rem.px2flexible(9);
    font-family: var(--font-CLFN);
    line-height: 1;

    &:hover {
      color: var(--primary-color);
      border-color: var(--primary-color);

      .image {
        border-color: #E2F2F2;
      }

      .info {
        color: var(--primary-color);
      }
    }

    .image {
      width: rem.px2flexible(30);
      height: rem.px2flexible(30);
      border: rem.px2flexible(1) solid #F3F3F3;
      background: #FFFFFF;

      .earth {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      flex: 1;
      overflow: hidden;
    }

    .cardTitle {
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .info {
      font-size: rem.px2flexible(6);
      color: #6C6C6C;
      display: flex;
      align-items: center;
      gap: rem.px2flexible(5);
      margin-top: rem.px2flexible(4);

      .infoItem {
        display: flex;
        align-items: center;
        gap: rem.px2flexible(2);

        > svg {
          width: rem.px2flexible(5.5, 'up');
          height: rem.px2flexible(6, 'up');
        }
      }
    }
  }
}