@use "@/styles/rem";
@use "@/styles/scroll-bar";

.wrap {
  position: relative;
  background: #FFFFFF;
  width: 300px;

  .select {
    border-top: var(--border-top, #{rem.px2flexible(1.5)}) solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: var(--border-top, #{rem.px2flexible(1.5)}) solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 var(--select-padding-inline, #{rem.px2flexible(10)});
    outline: none;
    height: var(--select-height, #{rem.px2flexible(30)});

    &:hover,
    &.popOverOpened
    {
      border-color: var(--primary-color);
    }

    .selectValue {
      font-size: var(--selectValue-font-size, #{rem.px2flexible(10)});
      font-family: var(--font-CLFN);
      color: #CFCFCF;
      margin-right: rem.px2flexible(5);
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .caret {
      width: var(--caret-size, #{rem.px2flexible(12)});
      height: var(--caret-size, #{rem.px2flexible(12)});
      transform: rotate(180deg);
      transition: all .2s;
    }
  }

  .popover {
    position: absolute;
    min-width: 100%;
    z-index: 10;
    border: rem.px2flexible(1) solid #000;
    background: #FFF;
    box-shadow: rem.px2flexible(1.5) rem.px2flexible(1.5) 0 0 #000;
    margin-top: -1px;
    max-height: min(500px, #{rem.px2flexible(375)});
    overflow-y: auto;

    @include scroll-bar.component-y-scroll;

    .popoverInner {
      padding: min(10px, #{rem.px2flexible(7.5)});
    }

    .noData {
      padding: min(10px, #{rem.px2flexible(7.5)});
      font-size: var(--popover-font-size);
      white-space: nowrap;
      color: #6C6C6C;
    }

    .popoverItem {
      padding: min(10px, #{rem.px2flexible(7.5)});
      font-size: var(--popover-font-size);
      white-space: nowrap;
      cursor: pointer;

      &:hover,
      &.selected,
      {
        background: #EAEAEA;
        color: var(--primary-color);
      }
    }
  }
}