.wrap {
  position: relative;
  background: #FFFFFF;

  .select {
    border-top: 3px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 3px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 0 20px;
    outline: none;
    width: 300px;
    height: 60px;

    &:hover,
    &.popOverOpened
    {
      border-color: var(--primary-color);
    }

    .selectValue {
      font-size: 20px;
      font-family: var(--font-CLFN);
      color: #CFCFCF;
      margin-right: 10px;
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .caret {
      transform: rotate(180deg);
      transition: all .2s;
    }
  }

  .popover {
    position: absolute;
    width: 100%;
    z-index: 10;
    border: 2px solid #000;
    background: #FFF;
    box-shadow: 3px 3px 0 0 #000;
    margin-top: -1px;
    max-height: 500px;
    overflow-y: auto;

    .popoverInner {
      padding: 10px;
    }

    .popoverItem {
      padding: 10px;
      cursor: pointer;

      &:hover,
      &.selected,
      {
        background: #EAEAEA;
        color: var(--primary-color);
      }
    }
  }
}