.container {
  font-family: var(--font-CLFN);
  margin: 30px auto 200px;

  .wrap {
    padding: 0 83px;
    display: flex;
    gap: 40px;

    .left {
      width: 952px;
    }

    .right {
      width: 290px;
    }
  }
}