@use '@/styles/rem';

.wrap {
  margin-top: min(30px, #{rem.px2flexible(16)});
  margin-bottom: 50px;
  display: flex;
  gap: 40px;
  width: 100%;

  .left {
    flex: 1;
    overflow: hidden;
  }

  .right {
    width: 290px;
  }

  @media screen and (max-width: 1023px) {
    .right {
      display: none;
    }
  }
}