.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--background);
  z-index: 10;
  bottom: 0;
  overflow: auto;

  .layout {
    width: 1440px;
    padding: 125px 0 126px 82px;
    margin: 0 auto;
    position: relative;

    .bgWrap {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin-top: 34px;
      margin-left: 20px;
      background-image: url("/assets/login/bg-item.svg");
      background-repeat: repeat;
      background-size: 177.5px 125px;
      z-index: -1;
    }
  }

  .window {
    width: 1170px;
  }

  .windowHeader {
    --card-window-title-letter-spacing: normal;
    //letter-spacing: normal !important;
  }

  .content {
    display: flex;
    .left {
      flex: 1;

      .leftInner {
        padding-top: 32px;
        padding-left: 70px;
      }
    }

    .right {
      min-width: 460px;
      background: #DBDBDB;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25) inset;
      position: relative;
    }
  }
}