@use "@/styles/rem";

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--background);
  z-index: 10;
  bottom: 0;
  overflow-x: hidden;

  .layout {
    max-width: 1440px;
    padding: rem.px2flexible(45.5) 0 rem.px2flexible(63) 0;
    margin: 0 auto;
    position: relative;

    .bgWrap {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin-left: rem.px2flexible(10);
      background-image: url("/assets/login/bg-item.svg");
      background-repeat: repeat;
      background-size: rem.px2flexible(88.75) rem.px2flexible(55.5);
      z-index: -1;
    }
  }

  .window {
    max-width: 1054px;
    margin: 0 auto;

    --card-window-header-padding-block: #{rem.px2flexible(4)};
    --card-window-header-padding-inline: #{rem.px2flexible(8)};
    --card-window-title-size: min(18px, #{rem.px2flexible(12)});
    --card-window-line-gap: #{rem.px2flexible(1.5)};
    --card-window-content-margin: #{rem.px2flexible(8)};
  }

  .windowHeader {
    --card-window-title-letter-spacing: normal;
    //letter-spacing: normal !important;
  }

  .content {
    display: flex;
  }
}

@media screen and (max-width: 1023px) {
  .container {
    .layout {
      padding-top: rem.px2flexible(23);
    }
  }
}