@use "@/styles/rem";

.wrap {
  border-top: rem.px2flexible(1) solid #000;
  border-right: rem.px2flexible(2) solid #000;
  border-bottom: rem.px2flexible(2) solid #000;
  border-left: rem.px2flexible(1) solid #000;
  background: #EAEAEA;
  padding: rem.px2flexible(10);

  .tabs {
    display: flex;
    align-items: center;
    margin-left: rem.px2flexible(1);
    .tab {
      width: rem.px2flexible(76);
      padding-block: rem.px2flexible(7.5);
      border: rem.px2flexible(1) solid #000;
      border-bottom: none;
      font-size: rem.px2flexible(9);
      line-height: rem.px2flexible(9);
      background: #ffffff;
      text-align: center;
      margin-left: rem.px2flexible(-1);
      cursor: pointer;

      &.active {
        background: var(--primary-color);
        color: #ffffff;
        font-weight: 500;
      }
    }
  }

  .content {
    border: rem.px2flexible(1) solid #000;
    background: #FFF;
    box-shadow: rem.px2flexible(1.5) rem.px2flexible(1.5) rem.px2flexible(3) 0 #DBDBDB inset;
    padding: rem.px2flexible(10);
  }
}