@use "@/styles/rem";

.text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: underline;
}

.copyTextIcon {
  width: rem.px2flexible(6);
  height: rem.px2flexible(6);
}

.time {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tips {
  color: #ffffff;
  font-size: rem.px2flexible(7);
  font-weight: normal;
  letter-spacing: normal;
  p {
    line-height: 1.5;
  }
  .title {
    font-weight: 500;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  gap: rem.px2flexible(4);
  justify-content: center;

  .avatar {
    width: rem.px2flexible(14);
    height: rem.px2flexible(14);
    font-size: rem.px2flexible(5);
  }

  .info {
    margin-top: rem.px2flexible(2);
    .name {
      font-size: rem.px2flexible(7);
      text-align: left;
    }
    .address {
      font-size: rem.px2flexible(6);
      color: #6C6C6C;
    }

    .copy {
      width: rem.px2flexible(6);
      height: rem.px2flexible(6);
    }
  }
}