.wrap {
  border-top: 2px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  border-left: 2px solid #000;
  background: #EAEAEA;
  padding: 20px;
  margin-top: 40px;

  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .content {
    border: 2px solid #000;
    background: #FFF;
    box-shadow: 3px 3px 6px 0 #DBDBDB inset;
    padding: 20px;
    overflow: hidden;

    .load {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      color: #6C6C6C;
      font-size: 12px;
      cursor: pointer;
    }
  }
}