.wrap {
  border-top: 2px solid #000;
  border-right: 4px solid #000;
  border-bottom: 4px solid #000;
  border-left: 2px solid #000;
  background: #EAEAEA;
  padding: 20px;
  margin-top: 40px;

  .title {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 8px;
  }

  .content {
    border: 2px solid #000;
    background: #FFF;
    box-shadow: 3px 3px 6px 0 #DBDBDB inset;
    padding: 20px;
    max-height: 800px;
    overflow: hidden;

    .load {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      color: #6C6C6C;
      font-size: 12px;
      cursor: pointer;
    }
  }
}

.feed {
  padding: 20px;
  cursor: pointer;

  &:hover {
    background: #F3F3F3;

    --hover-text-color: var(--primary-color);
    --avatar-outer-color: var(--primary-color);
    --post-statistic-font-color: var(--primary-color);

    > * {
      color: var(--primary-color);
    }
  }

  .header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .feedInfo {
    overflow: hidden;
    color: var(--hover-text-color, #6C6C6C);

    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    margin-bottom: 8px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--hover-text-color, #6C6C6C);
    font-size: 12px;

    .left {
      display: flex;
      align-items: center;
      gap: 20px;

      .nickname {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .avatar {
        width: 14px;
        height: 14px;
        font-size: 8px;
      }
    }

    .time {
      color: var(--hover-text-color, #6C6C6C);
      font-size: 12px;
    }
  }
}