.header {
  font-size: 0.8rem;
  color: #DBDBDB;
  border-bottom: 1px solid #333;
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}