@use '@/styles/rem';

.wrap {
  width: min(194px, #{rem.px2flexible(130)});
  height: min(247px, #{rem.px2flexible(165)});
  background: url("/assets/login/computer.png") no-repeat;
  background-size: contain;
  padding-top: min(49.5px, #{rem.px2flexible(33)});
  user-select: none;
}