@use "@/styles/rem";

.wrap {
  height: 0;
  overflow: hidden;
  transition: all 500ms;
}

.detail {
  padding: rem.px2flexible(9);
  background: #F5F5F5;
  margin-top: rem.px2flexible(10);


  .inner {
    display: grid;
    grid-template-columns: repeat(auto-fill, #{rem.px2flexible(14)});
    row-gap: rem.px2flexible(9);
    column-gap: rem.px2flexible(6);
    position: relative;

    .loadMore {
      cursor: pointer;
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: rem.px2flexible(5);
      color: #6C6C6C;
      width: rem.px2flexible(14 + 14 +12);
      height: rem.px2flexible(14);
      line-height: rem.px2flexible(14);
      text-align: right;
      background: #F5F5F5;
    }
  }

  .avatar {
    font-size: rem.px2flexible(5);
    width: rem.px2flexible(14);
    height: rem.px2flexible(14);
  }
}