@use "@/styles/rem";

.wrap {
  position: fixed;
  z-index: 2;

  .button {
    width: 36px;
    height: 36px;

    --button-box-shaow: 2px;
    --button-move-dis-top: 2px;
    --button-move-dis-left: 2px;
  }
}

.popOver {
  right: 0;
  width: rem.px2flexible(125);
}

.popItem {
  display: flex;
  align-items: center;
  gap: rem.px2flexible(4);
  font-size: rem.px2flexible(9);

  > svg {
    width: rem.px2flexible(16);
    height: rem.px2flexible(16);
  }
}