@use "@/styles/rem";

.pagination {
  margin: rem.px2flexible(20) 0;
  font-size: rem.px2flexible(6);

  .prevPage, .nextPage {
    font-family: var(--font-CLFN);
    display: flex;
    align-items: center;
    gap: rem.px2flexible(2);
    .icon {
      width: rem.px2flexible(3);
      height: rem.px2flexible(6);
    }

    &:not([disabled]) {
      &:hover {
        color: var(--primary-color);
      }
    }

    &[disabled] {
      color: #B7B7B7;
    }
  }

  .prevPage .icon {
    transform: scaleX(-1);
  }

  > li {
    min-width: rem.px2flexible(11);
    line-height: rem.px2flexible(10);
    height: rem.px2flexible(11);
    border-color: transparent;
    background: transparent;
    border-radius: 0;
    margin-right: rem.px2flexible(2);

    a {
      padding: 0 !important;
    }

    &:hover,
    &:focus {
      border-color: var(--primary-color);

      a {
        color: var(--primary-color);
      }
    }

    a {
      font-family: var(--font-CLFN);
    }
  }

  :global {
    .rc-pagination-prev .rc-pagination-item-link, .rc-pagination-next .rc-pagination-item-link {
      border-color: transparent;
      background-color: transparent;
    }

    .rc-pagination-item-active {
      font-weight: 400;
      border-color: var(--primary-color);
      a {
        color: var(--primary-color);
      }
    }

    .rc-pagination-jump-prev button:after, .rc-pagination-jump-next button:after {
      content: '...';
      font-size: rem.px2flexible(8);
    }

    .rc-pagination-prev {
      margin-right: rem.px2flexible(8);
    }
    .rc-pagination-next {
      margin-left: rem.px2flexible(5);
    }

    .rc-pagination-disabled .rc-pagination-item-link, .rc-pagination-disabled:hover .rc-pagination-item-link, .rc-pagination-disabled:focus .rc-pagination-item-link {
      color: #B7B7B7;
    }
  }
}