@use "sass:list";
@use "@/styles/rem";

.wrap {
  width: rem.px2flexible(42);
  height: rem.px2flexible(42);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  position: relative;

  .nick {
    color: #FFFFFF;
    position: relative;
    text-transform: capitalize;
  }

  $colors: #993131, #995231, #999631, #5B9931, #319946, #319978,
  #318D99, #315099, #3F3199, #653199, #99318B, #993152;

  @for $i from 1 through list.length($colors) {
    &.color-#{$i} {
      .circleInner {
        path {
          fill: list.nth($colors, $i);
        }
      }
    }
  }


  .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: round(down, 100%, 1px);
    height: round(down, 100%, 1px);

    path {
      fill: var(--avatar-outer-color, black)
    }
  }

  .circleInner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: round(up, 92%, 1px);
    height: round(up, 92%, 1px);
  }
}