@use "@/styles/rem";

.breadCrumb {
  display: flex;
  align-items: center;
  font-size: rem.px2flexible(7);

  a {
    cursor: pointer;
    &:hover {
      color: var(--primary-color);
    }
  }

  .arrow {
    width: rem.px2flexible(11);
    height: rem.px2flexible(11);
  }
}