@use "@/styles/rem";

.window {
  width: rem.px2flexible(352);
  --card-window-header-padding-block: #{rem.px2flexible(4)};
  --card-window-header-padding-inline: #{rem.px2flexible(9)};
  --card-window-content-margin: #{rem.px2flexible(9)};
  --card-window-close: #{rem.px2flexible(16)};
  --card-window-title-letter-spacing: 'normal';

  .header {
    font-size: rem.px2flexible(12);
  }
}

.pinContainer {
  font-family: var(--font-CLFN);
  padding: rem.px2flexible(19) 0 0 rem.px2flexible(20);
  .title {
    font-size: rem.px2flexible(14);
    font-weight: 500;
  }
  .info {
    color: #050505;
    font-size: rem.px2flexible(10);
    margin-top: rem.px2flexible(8);
    margin-bottom: rem.px2flexible(15);
  }

  .footer {
    display: flex;
    align-items: center;
    gap: rem.px2flexible(15);
    margin: rem.px2flexible(30) 0;

    .button {
      width: rem.px2flexible(46);
      height: rem.px2flexible(25);
      font-size: rem.px2flexible(8);
    }
  }
}

.pinInputWrap {
  display: flex;
  align-items: center;
  gap: rem.px2flexible(20);

  > input {
    width: rem.px2flexible(34);
    height: rem.px2flexible(34);
    border-top: rem.px2flexible(2) solid #DBDBDB;
    border-right: rem.px2flexible(1) solid #DBDBDB;
    border-bottom: rem.px2flexible(1) solid #DBDBDB;
    border-left: rem.px2flexible(2) solid #DBDBDB;
    outline: none;
    text-align: center;
    font-size: rem.px2flexible(12);
    font-family: var(--font-CLFN);
    padding-right: rem.px2flexible(1);
    caret-color: transparent;

    &:focus-within {
      border-color: var(--primary-color);
    }

    &.active {
      border-color: var(--primary-color);
    }
  }
}

.qrCodeStep {
  height: rem.px2flexible(241);
  padding-top: rem.px2flexible(25);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-CLFN);

  .codeWrap {
    width: rem.px2flexible(137);
    height: rem.px2flexible(137);
    position: relative;
  }
  .code {
    width: rem.px2flexible(137);
    height: rem.px2flexible(137);
  }
  .message {
    font-size: rem.px2flexible(12);
    text-align: center;
    margin-top: rem.px2flexible(18);
  }

  .refresh {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    width: rem.px2flexible(37);
    height: rem.px2flexible(43);
  }
}

@keyframes rotate360 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}