@use "@/styles/rem";

.recommend {
  border-top: rem.px2flexible(1) solid #000;
  border-right: rem.px2flexible(2) solid #000;
  border-bottom: rem.px2flexible(2) solid #000;
  border-left: rem.px2flexible(1) solid #000;
  background: #EAEAEA;
  padding: rem.px2flexible(10) 0 rem.px2flexible(10);
  margin-top: rem.px2flexible(20);

  &.moreCard {
    padding-bottom: rem.px2flexible(15);

    .recommendContent {
      padding-bottom: rem.px2flexible(10);
    }
  }

  .recommendTitle {
    padding: 0 rem.px2flexible(10);
    font-size: rem.px2flexible(10);
    font-weight: 500;
    line-height: 1;
    margin-bottom: rem.px2flexible(10);
  }

  .recommendContent {
    //padding-bottom: 20px;
    margin-left: rem.px2flexible(10);
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
  }
}