@use "@/styles/rem";

.wrap {
  display: flex;
  gap: rem.px2flexible(10);
  margin-bottom: rem.px2flexible(15);
}

.contentWrap {
  border-top: rem.px2flexible(1) solid #000;
  border-right: rem.px2flexible(1.5) solid #000;
  border-bottom: rem.px2flexible(1.5) solid #000;
  border-left: rem.px2flexible(1) solid #000;
  background: #FFF;
  flex: 1;
}

.content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: rem.px2flexible(15);

  .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.75;
    background: #F3F3F3;
    z-index: 1;
  }

  .contentInner {
    flex: 1;
  }

  .mainPostData {
    display: flex;
    align-items: center;
    margin: rem.px2flexible(5) 0;
    justify-content: space-between;
    color: #6C6C6C;
    gap: rem.px2flexible(5);
    flex-wrap: wrap;

    .date {
      font-size: rem.px2flexible(6);
      color: #6C6C6C;
    }

    .statis {
      display: flex;
      align-items: center;
      font-size: rem.px2flexible(6);
      gap: rem.px2flexible(10);
    }
  }

  .title {
    font-size: rem.px2flexible(10);
    font-weight: 500;
    display: flex;
    align-items: baseline;
    gap: rem.px2flexible(5);
    .titleInner {
      flex: 1;
    }
  }

  .richText {
    :global {
      .tiptap.ProseMirror {
        padding: 0 !important;
      }
    }
  }
}

@media screen and (min-width: 1024px){
  .wrap {
    margin-bottom: 40px;
  }

  .content {
    padding: 40px;
  }
}