@use "@/styles/rem";

.wrap {
  display: flex;
  gap: rem.px2flexible(10);
  margin-bottom: rem.px2flexible(15);

  $userPaddingBlock: min(14px, #{rem.px2flexible(9)});

  .user {
    display: flex;
    padding: $userPaddingBlock rem.px2flexible(9);
    border: rem.px2flexible(1) solid #000;
    background: #FFF;
    box-shadow: rem.px2flexible(1.5) rem.px2flexible(1.5) rem.px2flexible(3) 0 var(--150, #DBDBDB) inset;
    flex-direction: column;
    align-items: center;
    //width: 210px;
    flex-shrink: 0;
    align-self: start;
    cursor: pointer;

    &:hover {
      border-color: var(--primary-color);
      //color: var(--primary-color);
    }

    .avatarWrap {
      position: relative;
      margin-bottom: rem.px2flexible(10);
      width: 100%;

      &.normal {
        margin-bottom: rem.px2flexible(6);
        .poster {
          display: none;
        }
      }

      .poster {
        width: rem.px2flexible(20);
        height: rem.px2flexible(11);
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    .avatar {
      width: rem.px2flexible(36);
      height: rem.px2flexible(36);
      font-size: rem.px2flexible(12);
      margin: 0 auto;
    }

    .title {
      font-size: rem.px2flexible(9);
      font-weight: 500;
      text-transform: capitalize;
      text-align: center;
      width: 0;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  .divide {
    width: 100%;
    height: 1px;
    background: #F3F3F3;
    margin: rem.px2flexible(6) 0;
  }

  .postNum {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: rem.px2flexible(7);
  }
}

.content {
  border-top: rem.px2flexible(1) solid #000;
  border-right: rem.px2flexible(1.5) solid #000;
  border-bottom: rem.px2flexible(1.5) solid #000;
  border-left: rem.px2flexible(1) solid #000;
  background: #FFF;
  padding: rem.px2flexible(15);
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;

  .mask {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.75;
    background: #F3F3F3;
    z-index: 1;
  }

  .contentInner {
    flex: 1;
  }

  .mainPostData {
    display: flex;
    align-items: center;
    margin: rem.px2flexible(5) 0;
    justify-content: space-between;
    color: #6C6C6C;
    gap: rem.px2flexible(5);
    flex-wrap: wrap;

    .date {
      font-size: rem.px2flexible(6);
      color: #6C6C6C;
    }

    .statis {
      display: flex;
      align-items: center;
      font-size: rem.px2flexible(6);
      gap: rem.px2flexible(10);
    }
  }

  .title {
    font-size: rem.px2flexible(10);
    font-weight: 500;
    display: flex;
    align-items: baseline;
    gap: rem.px2flexible(5);
    .titleInner {
      flex: 1;
    }
  }

  .richText {
    :global {
      .tiptap.ProseMirror {
        padding: 0 !important;
      }
    }
  }
}

@media screen and (min-width: 1024px){
  .wrap {
    margin-bottom: 40px;

    .user {
      padding: 38px 25px;
      width: 210px;

      .avatar {
        width: 84px;
        height: 84px;
        font-size: 30px;
      }
    }

    .postNum {
      padding: 0 15px;
    }
  }

  .content {
    padding: 40px;
    .contentInner {
      //min-height: calc(var(--height, 100%) - 80px);
    }
  }
}