@use "@/styles/rem";

.wrap {
  padding: rem.px2flexible(20) rem.px2flexible(15);
  font-family: var(--font-CLFN);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: min(30px, #{rem.px2flexible(20)});
  background: #DBDBDB;
  box-shadow: 0 0 rem.px2flexible(7.5)  0 rgba(0, 0, 0, 0.25) inset;
  position: relative;

  .header {
    font-size: min(24px, #{rem.px2flexible(16)});
    font-weight: 500;
  }

  .content {
    padding: rem.px2flexible(15) rem.px2flexible(20);
    background: #E2F2F2;
    width: 100%;
    position: relative;
    box-sizing: border-box;

    .inner {
      font-size: min(16px, #{rem.px2flexible(10)});
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      .title {
        font-weight: 500;
        color: var(--primary-color);
      }

      .author {
        font-weight: 500;
        text-align: right;
      }
    }

    .inner1 {
      .info {
        font-size: rem.px2flexible(8);
      }
    }
  }

  .change {
    //display: flex;
    //align-items: center;
    gap: 8px;
    padding: rem.px2flexible(5) rem.px2flexible(10);
    font-size: min(16px, #{rem.px2flexible(12)});
    //cursor: pointer;
    //user-select: none;
  }

  .bt,
  .br,
  .bb,
  .bl {
    position: absolute;
    background: #FFFFFF;
  }

  .bt,
  .bb {
    left: 0;
    width: 100%;
    height: rem.px2flexible(2);
  }

  .br, .bl {
    top: 0;
    width: rem.px2flexible(2);
    height: 100%;
  }

  .bt {
    top: rem.px2flexible(-2);
    background: var(--primary-color);
  }
  .br {
    right: rem.px2flexible(-2);
  }
  .bb { bottom: rem.px2flexible(-2) }
  .bl { left: rem.px2flexible(-2); background: var(--primary-color) }
}