@use "@/styles/rem";

.container {
  width: var(--center-content-width);
  margin: 0 auto;
  font-family: var(--font-CLFN);
  overflow: hidden;
}

.mobileContainer {
  margin: 0 rem.px2flexible(20);
  font-family: var(--font-CLFN);
  overflow: hidden;
}