@use "@/styles/rem";

.wrap {
  .header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: rem.px2flexible(12);

    .button {
      width: rem.px2flexible(60);
      height: rem.px2flexible(20);
      font-size: rem.px2flexible(7);
    }
  }
}