@use "@/styles/rem";

.wrap {
  text-align: center;
  cursor: pointer;

  .inner {
    display: inline-flex;
    align-items: center;
    gap: rem.px2flexible(5);
    border-bottom: 1px solid var(--color, #000000);
    font-size: rem.px2flexible(7);
  }

  &:hover {
    color: var(--primary-color);

    .inner {
      border-color: var(--primary-color);

      span:first-child {
        position: relative;
        left: rem.px2flexible(3)
      }
      span:last-child {
        position: relative;
        right: rem.px2flexible(3)
      }
    }
  }
}