@use "@/styles/rem";

.container {
  border-top: rem.px2flexible(1) solid #000;
  border-right: rem.px2flexible(2) solid #000;
  border-bottom: rem.px2flexible(2) solid #000;
  border-left: rem.px2flexible(1) solid #000;
  background: var(--border-100, #E7E7E7);
  padding: rem.px2flexible(10);
  margin-top: rem.px2flexible(20);

  .header {
    font-size: rem.px2flexible(10);
    font-weight: 500;
    margin-bottom: rem.px2flexible(7);
  }

  .tabs {
    display: inline-flex;
    gap: rem.px2flexible(8);
    border-bottom: rem.px2flexible(1) solid var(--black, #000);
    position: relative;
    bottom: rem.px2flexible(-1);
    > span {
      border: rem.px2flexible(1) solid var(--black, #000);
      background: var(--white, #FFF);
      padding: rem.px2flexible(5) rem.px2flexible(15) rem.px2flexible(4);
      font-size: rem.px2flexible(9);
      position: relative;
      bottom: rem.px2flexible(-1);
      cursor: pointer;
      transition: padding 0.15s;

      &.active {
        padding-inline: rem.px2flexible(25);
        background: var(--primary-color);
        color: #FFFFFF;
        border-bottom: none;
        font-weight: 500;
      }
    }
  }

  .content {
    border: rem.px2flexible(1) solid #000;
    background: #FFF;
    padding: rem.px2flexible(10);
  }
}