@use "@/styles/rem";

.container {
  margin: rem.px2flexible(15) auto 80px;
  max-width: 1054px;

  .setting {
    width: rem.px2flexible(8);
    height: rem.px2flexible(8);
  }
}

.sticky {
  width: 36px;
  height: 36px;
  margin-bottom: 6px;
}