@use "@/styles/rem";

.container {
  margin: rem.px2flexible(15) auto 80px;
  display: flex;
  gap: 40px;
  width: 100%;

  .setting {
    width: rem.px2flexible(8);
    height: rem.px2flexible(8);
  }

  .left {
    flex: 1;
    overflow: hidden;
  }

  .right {
    width: 290px;
  }
}

.sticky {
  width: 36px;
  height: 36px;
  margin-bottom: 6px;
}

@media screen and (max-width: 1023px) {
  .container {
    .right {
      display: none;
    }
  }
}