.container {
  padding: 0 172px;
  margin: 30px auto 80px;
  font-family: var(--font-CLFN);

  .inner {
    width: 1094px;
  }

  .sticky {
    width: 40px;
    height: 40px;
    margin-bottom: 6px;
  }
}