@use '@/styles/rem';

.icon {
  width: rem.px2flexible(20);
  height: rem.px2flexible(20);
  cursor: pointer;

  &.active, &:hover {
    color: var(--primary-color);
  }

  > svg {
    width: 100%;
    height: 100%;
  }
}

.mouseTips {
  width: auto !important;
}